{% extends 'base.html.twig' %}

{% block title %}Modify my password - Eshoptimal{% endblock %}

{% block content %}
    <h1>Modify my password</h1>
    <a href="{{ path('account') }}">Back to my account</a><br />
    <br/>
    {% if notification %}
        <div class="alert alert-info"> {{ notification }} </div>
    {% endif %}
    {{ form(form) }}
    <br/>
{% endblock %}