body {
    min-height: 100vh;
    padding-bottom: 0 !important;
}

.navbar-item-custom a {
    color: white;
}

.footer-custom {

}

.product-item {
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item span .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 15px;
}

.product-page-price {
    font-size: 19px;
}

.cart-icon{
    height: 20px;
    padding-right: 20px;
}