{% extends 'base.html.twig' %}

{% block title %}Our products{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <h3>Filter</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h3>Our Products</h3>

            <div class="row product-container">
                <div class="col-md-4">
                    {% for product in products %}
                        {% include 'product/single_product.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
