{% extends 'base.html.twig' %}

{% block title %}Page not found - Eshoptimal{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Page not found</h2>.
        <p>Sorry, this page doesn't exist.</p>
        <a href="{{ path('home') }}" class="btn btn-info">Go to the home page</a>
    </div>
{% endblock %}
